<div class="card w-100">
  <div class="card-header">
    <ul class="list-unstyled d-flex justify-content-between">
      <%= image_tag get_avatar(@user), class: 'rounded-circle' %>
      <h3 class="card-title align-self-center"><%= @user.full_name %></h3><br>
    </ul>
  </div>
  <div class="card-body">
    <ul class="d-flex justify-content-between">
      <li>Photos <span class="count"><%= @posts.size %></span></li>
      <li>Followers <span class="count">50</span></li>
      <li>Following <span class="count">130</span></li>
    </ul>
  </div>
</div>
<%= render 'posts/images' %>
