<div class="card-columns">
  <% @posts %>
  <% @posts.each do |post| %>
    <div class="card">
      <div class="card-body p-1">
        <%= link_to(image_tag(post.thumbnail, class: 'd-block w-100'), post_path(post.id)) %>
        <p class="my-1"><%= post.description %></p>
        <div class="float-right">
          <%=link_to fa_icon "heart" %>
          <%=link_to fa_icon("comment"), post_path(post.id) %>
        </div>
      </div>
    </div>
  <% end %>
</div>
